:root{
    --bs-light-rgb: 255, 255, 255;
    --bs-dark-rgb: 0, 0, 0;
}

/**********************************************************************/
/* TAG */
/**********************************************************************/
body{
    font-family: Arial,  sans-serif;
}

/**********************************************************************/
/* BS */
/**********************************************************************/
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.btn-secondary {
    background-color: #363636;
    border-color: #363636;
}

.btn-danger{
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}


.btn-primary {
    background-color: #2D64E6;
    border-color: #2D64E6;
}

.text-lightblue{
    color: #1A81D2;
}

.text-primary-btn{
    color: #2D64E6;
}







/**********************************************************************/
/* MY CLASSES */
/**********************************************************************/

/* Utilities */
.section-base{
    padding: 30px 0;
}

.section-medium{
    padding: 50px 0;
}

.section-large{
    padding: 70px 0;
}

.rounded_10{
    border-radius: 1rem;
}



/* Header */
.w_8{ 
    width: 8%;  /* to change sony logo size */
}


/* Main */
.section-base.bg-main-hero{
    padding-top: 300px;
    background-image: url(../img/jumbo-bg.png);
}

.section-hero{
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center; 
}

.section-title{
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.section-title.section-title-small{
    margin-bottom: 30px;
    font-size: 1.7rem;
}

.section-subtitle{
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #727272;
}

.section-text{
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
}

.section-text-super{
    font-size: .9rem;
}



.bg-second-hero{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


.bg_grey{
    background-color: #1F1F1F;
}

.bg_lightgrey{
    background-color: #BEBCBB;
}

/* .bg_lightgrey.d-flex.align-items-center{
    min-height: 240px;
    overflow: hidden;
} */

.w_60{
    width: 60%;
}

.bg_blue{
    background-color: #161C3B;
}
/* 
.bg_blue.d-flex.align-items-center.text-white{
    min-height: 380px;
} */

/* Footer */
.bg-footer{
    background-color: #00439C;
}

.w_05{
    width: 5%;
}

footer ul li{
    padding: 5px 0;
}

footer ul li a{
    color: white;
    text-decoration: none;
}
