:root{
    --bs-light-rgb: 255, 255, 255;
}

/**********************************************************************/
/* TAG */
/**********************************************************************/
body{
    font-family: Arial,  sans-serif;
}

/**********************************************************************/
/* BS */
/**********************************************************************/
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.btn-danger{
    background-color: #CD3D0F;
}










/**********************************************************************/
/* MY CLASSES */
/**********************************************************************/

/* Utilities */
.section-base{
    padding: 50px 0;
}

.section-medium{
    padding: 150px 0;
}

.section-large{
    padding: 300px 0;
}

.rounded_10{
    border-radius: 1rem;
}



/* Header */
.w_8{ 
    width: 8%;  /* to change sony logo size */
}


/* Main */
.section-base.section-main-hero{
    padding-top: 300px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}

.section-title{
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}

.section-title.section-title-small{
    font-size: 2.3rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}

.section-subtitle{
    font-size: 1.3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #727272;
}

.section-text{
    margin: 0;
    font-size: 1rem;
}
