:root{
    --bs-light-rgb: 255, 255, 255;
    --bs-dark-rgb: 0, 0, 0;
}

/**********************************************************************/
/* TAG */
/**********************************************************************/
body{
    font-family: Arial,  sans-serif;
}

/**********************************************************************/
/* BS */
/**********************************************************************/
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.btn-secondary {
    background-color: #363636;
    border-color: #363636;
}

.btn-danger{
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}


.btn-primary {
    background-color: #2D64E6;
    border-color: #2D64E6;
}

.text-lightblue{
    color: #1A81D2;
}

.text-primary-btn{
    color: #2D64E6;
}

.btn-secondary:hover,
.btn-primary:hover
{
    outline: white solid 1px;
    outline-offset: -3px;
}

.btn-danger:hover,
.btn-light-hover:hover{
    outline: rgb(0, 0, 0) solid 1px;
    outline-offset: -3px;
}

header .navbar-nav .nav-link + .dropdown-menu{
    display: flex;
    position: fixed;
    left: 0;
    top: 116px;

    right: 0;
    border: none;
    border-radius: 0;
    justify-content: center;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .3s;
}

header .navbar-nav .nav-link:focus + .dropdown-menu{
    max-height: 400px;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: none;
    background-color: transparent;
}

.fas.fa-circle{
    font-size: .3rem;
    color: rgb(72, 185, 255);
    vertical-align: middle;
}

.fa-chevron-down{
    transition: all .3s;
}

header .navbar-nav .nav-link:focus .fa-chevron-down{
    transform: rotate(180deg);
}

header .navbar-collapse .d-flex.align-items-center a + .dropdown-menu{
    display: flex;
    position: fixed;
    top: 116px;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0;
    justify-content: center;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .3s;
}

header .navbar-collapse .d-flex.align-items-center a:focus + .dropdown-menu{
    max-height: 400px;
}



/**********************************************************************/
/* MY CLASSES */
/**********************************************************************/

/* Utilities */
.section-base{
    padding: 30px 0;
}

.section-medium{
    padding: 50px 0;
}

.section-large{
    padding: 70px 0;
}

.rounded_10{
    border-radius: 1rem;
}

/* Header */
.w_8{ 
    width: 8%;  /* to change sony logo size */
}

.nav-link i{
    color: #727272;
    font-size: .8rem;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover i,
.nav-link.text-dark:hover,
.nav-link.text-dark:hover i {
    color: #1A81D2 !important;
}

/* Main */
.section-base.bg-main-hero{
    padding-top: 300px;
    background-image: url(../img/jumbo-bg.png);
}

.section-hero{
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: top; 
}

.section-title{
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.section-title.section-title-small{
    margin-bottom: 30px;
    font-size: 1.7rem;
}

.section-subtitle{
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #727272;
}

.section-text{
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
}

.section-text-super{
    font-size: .9rem;
}


.bg-second-hero{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.card-carousel{
    border: none;
    background: none;
    transition: transform .3s;
}

.card-carousel:focus img{
    outline: 2px solid #2D64E6;
}

.card-carousel:hover{
    transform: translateY(-10%);
}

.bg_grey{
    background-color: #1F1F1F;
}

.bg_lightgrey{
    background-color: #BEBCBB;
}

.w_60{
    width: 60%;
}

.bg_blue{
    background-color: #161C3B;
}

.copyright{
    position: relative;
}


.copyright::after{
    content: "®";
    position: absolute;
    top: -25%;
    right: -10%;
    transform: scale(50%);

}


.overlay{
    opacity: 0.5;
}

.list-product-item{
    border: none;
    background: none;
}

.list-product-item:focus{
    border-bottom: 2px solid #2D64E6;
}

.list-product-item:focus .overlay{
    opacity: 1;
}

.list-product-item:hover .overlay{
    opacity: 1;
}





/* Footer */
.bg-footer{
    background-color: #00439C;
}

.w_05{
    width: 5%;
}

footer ul li{
    padding: 5px 0;
}

footer ul li a{
    color: white;
    text-decoration: none;
}
