:root{
    --bs-light-rgb: 255, 255, 255;
}

/**********************************************************************/
/* BS */
/**********************************************************************/
.navbar-light .navbar-nav .nav-link{
    color: black;
}










/**********************************************************************/
/* MY CLASSES */
/**********************************************************************/
.w-8{ 
    width: 8%;  /* to change sony logo size */
}
